.ul_bg {
  list-style: none;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.music_posters {
  width: 13rem;
  height: 13rem;
}
